div.bookappointment {
  border-top: 2px solid #f2f2f2;
  background: white;
  padding: 10px;
  min-height: calc(100vh - 75px);
  padding-bottom: 100px; }
  div.bookappointment h2 {
    padding: 20px 0;
    margin: 0px 0; }

div.selectAppointmentType {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0px 0 5px 0;
  font-weight: 600; }
  div.selectAppointmentType.whoFor {
    margin-top: 55px; }
  div.selectAppointmentType div.label {
    font-size: 20px;
    line-height: 50px;
    color: black;
    margin: 20px 0 10px 0;
    text-indent: 0px;
    font-weight: 400; }
  div.selectAppointmentType div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    div.selectAppointmentType div.row span {
      text-align: center;
      height: 120px;
      align-self: center;
      padding: 0 0px;
      margin-bottom: 10px;
      line-height: 120px;
      background: white;
      color: #102233;
      background: #f2f2f2;
      width: calc(50% - 5px); }
      div.selectAppointmentType div.row span.active {
        background: #159936;
        color: white; }

label {
  font-size: 20px;
  display: block;
  line-height: 50px;
  margin: 50px 0 10px 0; }

div.gmap-wrap {
  margin-top: 0px;
  width: 100%;
  height: 300px;
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 0px; }
  div.gmap-wrap div.gmap-search-wrap {
    position: absolute;
    width: 100%;
    display: block;
    top: 0; }
    div.gmap-wrap div.gmap-search-wrap span.click {
      position: absolute;
      width: 40px;
      height: 40px;
      display: block;
      background: red;
      top: 0; }
    div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root {
      line-height: 25px;
      height: 25px;
      width: calc(100%);
      height: 54px;
      position: absolute;
      top: 0px;
      right: 0px; }
      div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root input {
        top: 7px;
        position: absolute;
        border: 0px;
        padding: 0px;
        outline: none;
        width: calc(100% - 20px);
        left: 10px;
        line-height: 42px;
        text-indent: 15px;
        border-radius: 6px;
        opacity: 0.95;
        outline: none;
        transition: 0.2s ease;
        background: white; }
        div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root input:focus {
          outline: none;
          border-radius: 0px;
          top: 0px;
          border: 0px;
          line-height: 62px;
          left: 0px;
          width: calc(100%);
          opacity: 1;
          background: #fcfcfc; }
      div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root div.my-autocomplete-container {
        position: absolute;
        top: 65px;
        height: 100px;
        line-height: 12px;
        font-size: 11px;
        opacity: 1;
        padding: 0px 0;
        height: 25px;
        z-index: 200;
        display: block;
        position: absolute;
        width: 100%;
        background: white;
        margin-top: -4px; }
        div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root div.my-autocomplete-container > div {
          padding: 20px !important;
          border-top: 1px solid #eff1f2;
          font-size: 12px !important; }
        div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root div.my-autocomplete-container > div:nth-last-of-type(2) {
          border-radius: 0 0 2px 2px;
          background: red; }
        div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root div.my-autocomplete-container div#PlacesAutocomplete__google-logo {
          display: none; }

div.storeStrip {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column; }
  div.storeStrip > span {
    line-height: 42px;
    color: white;
    font-weight: 600; }
  div.storeStrip div.strip {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 0px;
    padding-top: 15px;
    height: 140px; }
    div.storeStrip div.strip div.store {
      align-self: center;
      padding: 0;
      margin: 0 10px 0 0;
      height: 110px;
      width: 120px;
      background: #f2f2f2;
      display: flex;
      color: #102233;
      flex-direction: column;
      justify-content: center; }
      div.storeStrip div.strip div.store.selected {
        background: #159936;
        color: white; }
      div.storeStrip div.strip div.store span {
        display: block;
        width: 120px;
        text-align: center;
        font-size: 13px; }
        div.storeStrip div.strip div.store span.name {
          font-weight: 600;
          padding: 5px; }

div.dateStrip {
  margin: 0px 0;
  display: flex;
  flex-direction: column; }
  div.dateStrip > span {
    padding-left: 0px;
    line-height: 50px;
    color: black;
    font-weight: 400;
    font-size: 20px;
    margin-top: 50px;
    text-transform: capitalize; }
  div.dateStrip div.strip {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 0px;
    height: 140px; }
    div.dateStrip div.strip div.date {
      align-self: center;
      padding: 0;
      margin: 0 12px 0 0;
      height: 120px;
      width: 70px;
      background: #f2f2f2;
      display: flex;
      color: #102233;
      flex-direction: column;
      justify-content: center; }
      div.dateStrip div.strip div.date.selected {
        background: #159936;
        color: white; }
      div.dateStrip div.strip div.date span {
        display: block;
        width: 70px;
        text-align: center;
        font-size: 13px; }
        div.dateStrip div.strip div.date span.day {
          text-transform: uppercase;
          font-weight: 600;
          padding: 5px; }

div.timeStrip {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  div.timeStrip div.timeButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    div.timeStrip div.timeButtons span {
      display: inline-block;
      width: 32%;
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-weight: 600;
      font-size: 13px;
      background: #d4d5d6;
      margin: 0px 0; }
      div.timeStrip div.timeButtons span.selected {
        background: #5b5b5b;
        color: white; }
  div.timeStrip div.strip {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px 0;
    justify-content: space-between; }
    div.timeStrip div.strip div.time {
      align-self: center;
      padding: 0;
      margin: 2px 0;
      height: 50px;
      width: 32%;
      background: white;
      text-align: center;
      display: flex;
      color: #102233;
      flex-direction: column;
      justify-content: center;
      background: #f2f2f2; }
      div.timeStrip div.strip div.time.selected {
        background: #159936;
        color: white; }
      div.timeStrip div.strip div.time span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 13px;
        font-weight: 600; }

span.appointmentInput {
  padding: 15px 0px 0 0px;
  display: block;
  width: 100%;
  text-align: left; }
  span.appointmentInput label.someoneElse {
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 32px;
    font-size: 18px; }
  span.appointmentInput input, span.appointmentInput textarea {
    width: 100%;
    font-weight: 600;
    font-size: 12px;
    padding: 0px;
    text-align: left;
    text-align: -webkit-left;
    outline: none;
    border-radius: 0px;
    line-height: 34px;
    text-indent: 20px;
    background: #fcfcfc;
    border: 2px solid #d4d5d6; }
  span.appointmentInput textarea {
    font-weight: 400;
    line-height: 16px;
    text-indent: 0px;
    padding: 10px;
    min-height: 88px;
    max-height: 150px;
    min-width: 100%;
    max-width: 100%;
    background: #fcfcfc;
    border: 2px solid #d4d5d6; }

div.appointmentSummary {
  background: #f2f2f2;
  padding: 40px 10px;
  margin: 50px 0; }
  div.appointmentSummary h2 {
    font-weight: 400;
    margin: 0;
    padding: 0px 0 25px 0;
    font-size: 20px; }
