html {
  background: white; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden; }

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

::-webkit-scrollbar {
  position: relative;
  width: 0px;
  /* remove scrollbar space */
  background: transparent; }

body {
  width: 100%;
  height: calc(100%);
  margin: 0px auto;
  -webkit-box-shadow: 0px 1px 26px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 26px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 26px 2px rgba(0, 0, 0, 0.16); }

a {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none; }

div.wrap {
  max-height: calc(100vh);
  min-height: calc(100vh);
  overflow-y: scroll; }
  div.wrap > span {
    padding: 0px 0;
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    min-height: calc(100vh);
    background: #f2f2f2;
    font-size: 14px;
    flex-direction: column; }
    div.wrap > span a {
      text-align: center; }

.gm-style-mtc, .gm-svpc, button[title="Toggle fullscreen view"] {
  display: none; }

input.googleMapsInput {
  box-sizing: border-box;
  border: 0px solid transparent;
  width: 120px;
  height: 32px;
  padding: 0 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  outline: none;
  text-overflow: ellipsis;
  margin-top: 15px;
  margin-left: -6px;
  opacity: 0.85;
  transition: 0.3s ease; }
  input.googleMapsInput:focus {
    opacity: 1;
    width: 93%; }
  input.googleMapsInput::placeholder {
    font-style: italic;
    color: black; }

div.button {
  font-size: 13px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  margin: 10px 0;
  padding: 9px;
  border: 1px solid #159936;
  position: relative;
  font-weight: 600;
  line-height: 20px;
  background: #f9fbff;
  background: #e8efef;
  background: transparent;
  text-align: center; }
  div.button a {
    width: 100%;
    height: 100%; }
  div.button.primary {
    background: #159936 !important;
    color: white; }
  div.button.cancel {
    color: red !important; }
  div.button.directions {
    text-transform: uppercase; }
  div.button.AddToCalendar {
    margin-top: 0px;
    height: 38px;
    line-height: 38px;
    font-size: 16px; }

div.content-image {
  display: block;
  margin: 20px 10px;
  background: white; }
  div.content-image div.imageBox {
    display: block;
    height: 215px;
    overflow-y: hidden; }
    div.content-image div.imageBox img {
      overflow-y: hidden;
      width: calc(100%); }
  div.content-image div.textBox {
    font-size: 15px;
    font-weight: 600;
    display: block;
    height: 100px;
    line-height: 100px;
    text-indent: 20px; }

span.logOutButton {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px; }
  span.logOutButton.secondary {
    border: 1px solid #159936;
    color: white; }
    span.logOutButton.secondary a {
      width: 100%;
      padding: 0;
      background: transparent;
      line-height: 15px;
      color: white; }

span.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  padding: 12px 0;
  position: relative;
  margin: 10px 0; }
  span.linkButton.alone {
    margin: 10px 10px 0 10px;
    padding-bottom: 4px; }
  span.linkButton.blue a {
    background: #3c3f49; }
  span.linkButton.secondary {
    border: 1px solid #159936;
    color: white; }
    span.linkButton.secondary a {
      padding: 0;
      background: transparent;
      line-height: 15px; }
  span.linkButton.secondary.confirm {
    border: 1px solid #159936;
    color: #3c3f49;
    padding: 0; }
    span.linkButton.secondary.confirm a {
      color: inherit;
      padding: 0;
      background: transparent;
      line-height: 40px; }
  span.linkButton.appointment {
    background: #3c3f49;
    border: 0px; }
  span.linkButton a, span.linkButton span {
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    background: #f9fbff;
    background: #e8efef;
    text-transform: capitalize;
    -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.03);
    transition: 0.1s ease; }
  span.linkButton a {
    opacity: 0.9;
    background: #159936;
    color: white; }
  span.linkButton.big a {
    margin: 20px 0 15px 0;
    line-height: 70px;
    background: #142119;
    background: linear-gradient(-90deg, #09562d, #101110);
    transition: 0.3s ease-out; }
    span.linkButton.big a:hover {
      opacity: 0.4; }

div.confirmAppointment {
  padding: 10px; }
  div.confirmAppointment h3 {
    color: white;
    padding: 0;
    font-size: 18px; }
  div.confirmAppointment div.inner {
    background: #3c3f49;
    padding: 10px; }

div.confirmAppointmentPopUp {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  flex-direction: column; }
  div.confirmAppointmentPopUp.show {
    opacity: 1;
    visibility: visible; }
  div.confirmAppointmentPopUp div.continue {
    background: #159936;
    color: white;
    margin-top: 20px;
    width: 40%;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 600; }
  div.confirmAppointmentPopUp span {
    font-size: 22px;
    font-weight: 600;
    color: #159936; }

div.Collapsible {
  position: relative;
  line-height: 45px;
  margin: 0 10px;
  border-radius: 0;
  z-index: 50; }
  div.Collapsible span.Collapsible__trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    width: 100%;
    right: 0px;
    border-radius: 0; }
    div.Collapsible span.Collapsible__trigger:after {
      content: '';
      position: absolute;
      display: inline-block;
      margin: 2px;
      top: 10px;
      right: 1px;
      width: 10px;
      height: 10px;
      border-top: 4px solid white;
      border-right: 4px solid white;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg); }
    div.Collapsible span.Collapsible__trigger.is-open:after {
      top: 15px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
  div.Collapsible span.titleCollapse {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    color: white; }
  div.Collapsible div.Collapsible__contentInner p {
    position: relative;
    background: #5e6272;
    line-height: 30px;
    border: 0px solid red;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    color: white; }

div.notificationCard {
  background: #3c3f49;
  margin: 10px; }
  div.notificationCard div.Collapsible {
    border-top: 1px solid white !important; }

span.chatIntercomWrap {
  font-size: 13px;
  z-index: 1100; }
  span.chatIntercomWrap div.chatDialog {
    background: white;
    position: fixed;
    width: 100%;
    height: calc(100%);
    bottom: 0px;
    opacity: 1; }
    span.chatIntercomWrap div.chatDialog > div {
      padding: 0px;
      height: 100%; }
      span.chatIntercomWrap div.chatDialog > div > div.title {
        line-height: 42px;
        background: #159936;
        color: white;
        font-weight: 400;
        text-align: left;
        text-indent: 20px;
        position: relative;
        padding: 10px; }
        span.chatIntercomWrap div.chatDialog > div > div.title span.close {
          top: 18px;
          width: 28px;
          right: 20px;
          height: 28px; }
          span.chatIntercomWrap div.chatDialog > div > div.title span.close::before {
            width: 3px;
            height: 28px; }
          span.chatIntercomWrap div.chatDialog > div > div.title span.close::after {
            width: 3px;
            height: 28px; }
      span.chatIntercomWrap div.chatDialog > div > div.history {
        height: calc(100% - 123px);
        padding: 5px;
        overflow-y: scroll; }
        span.chatIntercomWrap div.chatDialog > div > div.history div.message.me > div {
          font-size: 12px;
          margin: 8px 0;
          padding: 20px 20px;
          border-radius: 8px;
          margin-left: 26%;
          margin-right: 3%;
          background: #eaf6f7; }
        span.chatIntercomWrap div.chatDialog > div > div.history div.message.hide > div {
          display: none;
          background: red; }
        span.chatIntercomWrap div.chatDialog > div > div.history div.message.them > div {
          font-size: 12px;
          margin: 8px 0;
          padding: 20px 20px;
          border-radius: 8px;
          margin-right: 26%;
          margin-left: 3%;
          background: #5e6272;
          color: white; }
          span.chatIntercomWrap div.chatDialog > div > div.history div.message.them > div.replies {
            margin: 12px;
            padding: 2px;
            border-radius: 0px;
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap; }
            span.chatIntercomWrap div.chatDialog > div > div.history div.message.them > div.replies > span {
              padding: 20px 20px;
              display: inline-block;
              border-radius: 100px;
              display: flex;
              min-height: 25px;
              max-width: 50%;
              text-align: center;
              opacity: 0.98;
              margin: 2px 3px;
              margin: 4px;
              background: #159936;
              background: #dce4ea;
              color: #3c3f49;
              cursor: pointer; }
              span.chatIntercomWrap div.chatDialog > div > div.history div.message.them > div.replies > span.clicked {
                background: #159936;
                color: white; }
      span.chatIntercomWrap div.chatDialog > div > input {
        font-size: 12px;
        padding: 8px;
        line-height: 45px;
        display: block;
        outline: none;
        text-indent: 20px;
        width: 100%;
        border: 0px;
        background: #f7f9f9;
        z-index: 1200; }
        span.chatIntercomWrap div.chatDialog > div > input:focus {
          background: white;
          -webkit-box-shadow: 0px -30px 110px 0px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px -30px 110px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -30px 110px 0px rgba(0, 0, 0, 0.25); }
  span.chatIntercomWrap span.chatIntercom {
    background: #159936;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    position: fixed;
    bottom: 78px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.85; }
    span.chatIntercomWrap span.chatIntercom svg {
      fill: white; }

div.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 25px; }
  div.headerBar div.profileName {
    text-align: left;
    padding: 10px;
    font-weight: 600;
    color: white;
    font-size: 16px; }
  div.headerBar span {
    padding-right: 20px; }
    div.headerBar span img {
      border-radius: 80px;
      height: 90px;
      width: 90px; }

div.gmapsMarker {
  width: 0px;
  height: 0px;
  text-align: center;
  transition: 0.2s ease;
  position: relative;
  opacity: 0.9; }
  div.gmapsMarker.home {
    opacity: 0.8; }
  div.gmapsMarker.store {
    z-index: 1;
    background: red; }
    div.gmapsMarker.store svg {
      transition: 0.2s ease;
      transform: translate(-50%, -100%);
      height: 35px;
      fill: #3c3f49; }
    div.gmapsMarker.store.selected {
      z-index: 100; }
      div.gmapsMarker.store.selected svg {
        fill: #159936;
        width: 80px;
        height: 65px; }

div.webcam {
  height: calc(100vh - 30px);
  font-size: 0; }
  div.webcam div.webcamWrap {
    height: calc(100% - 80px);
    background: grey;
    overflow: hidden;
    position: relative; }
    div.webcam div.webcamWrap > div {
      height: 100%; }
      div.webcam div.webcamWrap > div > video {
        height: 100%; }
      div.webcam div.webcamWrap > div button {
        background: #159936;
        width: 80%;
        line-height: 38px;
        border: 0px;
        font-size: 14px;
        color: white;
        margin-bottom: -10px;
        font-weight: 600; }
    div.webcam div.webcamWrap > section {
      height: 100%; }
      div.webcam div.webcamWrap > section section {
        padding: 0;
        height: 100%; }
    div.webcam div.webcamWrap div.viewfinder {
      width: calc(100vw - 50px);
      height: calc(100vw - 50px);
      position: absolute;
      left: 25px;
      z-index: 3000;
      border: 7px solid tomato;
      top: 50vh;
      transform: translate(0, calc(-50% - 40px)); }
    div.webcam div.webcamWrap div.result {
      left: 25px;
      width: calc(100vw - 50px);
      position: absolute;
      top: 5px;
      height: 50px;
      opacity: 0.8;
      background: white;
      color: black;
      font-size: 13px;
      line-height: 25px;
      text-align: left; }
    div.webcam div.webcamWrap video {
      zoom: 100%;
      object-fit: cover; }
  div.webcam a {
    font-size: 14px;
    line-height: 40px;
    display: block;
    background: #3c3f49;
    color: white;
    text-align: center;
    font-weight: 600; }

a.scanQRCode {
  display: block;
  text-align: center;
  background: #3c3f49;
  height: 50px;
  line-height: 50px;
  color: white;
  font-weight: 600;
  font-size: 16px; }

div.ticket {
  width: 100%;
  background: #f2f2f2; }
  div.ticket div.ticketTitle {
    background: white;
    text-align: center;
    padding-top: 20px;
    line-height: 45px; }

div.miniTicket {
  padding: 10px;
  padding-bottom: 0px;
  position: relative;
  background: #f2f2f2;
  line-height: 20px; }
  div.miniTicket:last-of-type {
    padding-bottom: 0px; }
  div.miniTicket div.miniTicketInnerWrap {
    -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 1px 2px 2px transparent;
    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.03);
    text-align: left;
    background: #fcfcfc;
    background: #3c3f49;
    position: relative;
    padding-bottom: 0px; }
    div.miniTicket div.miniTicketInnerWrap > span {
      color: white;
      display: block;
      font-weight: 400;
      text-align: center;
      font-style: italic;
      font-size: 14px;
      padding: 15px 0 4px 0px; }
  div.miniTicket div.miniTicketBody {
    text-align: left;
    padding: 0 10px; }

div.cardStyle {
  margin: 5px 0; }
  div.cardStyle div {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 230px;
    padding: 20px 0;
    font-weight: 600; }

div.orderAndAppointments {
  color: white;
  line-height: 30px;
  font-size: 15px;
  padding-bottom: 10px; }

div.react-add-to-calendar__dropdown {
  position: absolute;
  background: transparent;
  z-index: 1000;
  color: black;
  text-align: left;
  top: -120px;
  width: 110%;
  left: -5%;
  height: 200px; }
  div.react-add-to-calendar__dropdown ul {
    z-index: 1000;
    padding: 0;
    margin: 0; }
    div.react-add-to-calendar__dropdown ul li {
      position: relative;
      margin-left: 20px;
      padding-left: 30px;
      display: block;
      background: #f2f2f2; }
      div.react-add-to-calendar__dropdown ul li:nth-child(even) {
        background: #d4d5d6; }
    div.react-add-to-calendar__dropdown ul a {
      display: inline-block;
      text-indent: 10px;
      text-align: left;
      z-index: 1000;
      padding: 0px;
      color: #3c3f49;
      width: 100%;
      margin-left: 10px;
      line-height: 50px; }
      div.react-add-to-calendar__dropdown ul a::after {
        padding-right: 10px;
        text-align: right;
        content: '+';
        position: absolute;
        left: 0px;
        font-size: 20px;
        font-weight: 600;
        color: #159936;
        width: calc(100% - 10px);
        top: -1px; }

div.ReactModalPortal {
  z-index: 9999; }
  div.ReactModalPortal div.ReactModal__Overlay {
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.88) !important; }
    div.ReactModalPortal div.ReactModal__Overlay div.ReactModal__Content {
      right: 10px  !important;
      top: 10px  !important;
      left: 10px  !important;
      bottom: 10px  !important;
      height: 70%;
      margin-top: 24%;
      border: 0px !important;
      border-radius: 0px !important;
      background: white !important; }
      div.ReactModalPortal div.ReactModal__Overlay div.ReactModal__Content * {
        padding: 0;
        margin: 0; }
      div.ReactModalPortal div.ReactModal__Overlay div.ReactModal__Content section {
        margin: 10px 0; }
        div.ReactModalPortal div.ReactModal__Overlay div.ReactModal__Content section.heading {
          width: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-self: center; }
          div.ReactModalPortal div.ReactModal__Overlay div.ReactModal__Content section.heading svg {
            align-self: center; }
          div.ReactModalPortal div.ReactModal__Overlay div.ReactModal__Content section.heading h4 {
            padding: 5px 0;
            font-size: 20px; }
        div.ReactModalPortal div.ReactModal__Overlay div.ReactModal__Content section h2 {
          padding: 10px 0 0 0;
          font-size: 16px; }
        div.ReactModalPortal div.ReactModal__Overlay div.ReactModal__Content section p {
          padding: 5px 0 0 0;
          font-size: 16px; }

div.appointmentCard {
  color: white; }
  div.appointmentCard > span {
    display: block; }
  div.appointmentCard > div.firstRow {
    flex-direction: row;
    display: flex;
    justify-content: space-between; }
    div.appointmentCard > div.firstRow > div, div.appointmentCard > div.firstRow > a {
      text-align: center;
      justify-content: center;
      flex-direction: column;
      display: flex;
      width: 30%;
      height: 100px;
      background: #5e6272;
      padding: 15px 0 6px 0;
      position: relative; }
      div.appointmentCard > div.firstRow > div > span, div.appointmentCard > div.firstRow > a > span {
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0; }
      div.appointmentCard > div.firstRow > div h3, div.appointmentCard > div.firstRow > a h3 {
        line-height: 40px;
        display: block;
        margin: 0;
        padding: 0;
        align-self: center;
        font-size: 12px;
        font-weight: 400;
        height: 25px;
        line-height: 15px; }
      div.appointmentCard > div.firstRow > div svg, div.appointmentCard > div.firstRow > a svg {
        align-self: center;
        fill: white;
        padding-bottom: 9px; }
      div.appointmentCard > div.firstRow > div.calendar, div.appointmentCard > div.firstRow > a.calendar {
        position: relative; }
        div.appointmentCard > div.firstRow > div.calendar svg, div.appointmentCard > div.firstRow > a.calendar svg {
          position: absolute;
          top: 20px; }
        div.appointmentCard > div.firstRow > div.calendar div.react-add-to-calendar, div.appointmentCard > div.firstRow > a.calendar div.react-add-to-calendar {
          position: absolute;
          text-align: center;
          width: 100%;
          height: 100%;
          top: 0; }
          div.appointmentCard > div.firstRow > div.calendar div.react-add-to-calendar div, div.appointmentCard > div.firstRow > a.calendar div.react-add-to-calendar div {
            height: 100%; }
            div.appointmentCard > div.firstRow > div.calendar div.react-add-to-calendar div a, div.appointmentCard > div.firstRow > a.calendar div.react-add-to-calendar div a {
              height: 100%;
              display: block;
              position: relative; }
              div.appointmentCard > div.firstRow > div.calendar div.react-add-to-calendar div a span, div.appointmentCard > div.firstRow > a.calendar div.react-add-to-calendar div a span {
                width: 100%;
                position: absolute;
                bottom: 17px;
                left: 0px;
                font-size: 12px;
                height: 15px;
                line-height: 15px;
                margin: 0; }
  div.appointmentCard div.optician {
    display: flex;
    justify-content: start;
    padding-left: 10px;
    margin: 10px 0;
    line-height: 40px;
    height: 40px;
    margin-bottom: 30px; }
    div.appointmentCard div.optician h2, div.appointmentCard div.optician h3, div.appointmentCard div.optician span {
      display: inline-block;
      min-width: 20px;
      font-size: 14px;
      align-items: center;
      height: 100%;
      padding: 0px 0;
      margin: 0;
      font-weight: 400; }
    div.appointmentCard div.optician span {
      padding: 0 10px; }
    div.appointmentCard div.optician h2 {
      font-weight: 600; }
  div.appointmentCard:last-of-type div.optician {
    margin-bottom: 10px; }
  div.appointmentCard div.children {
    padding-bottom: 1px; }
    div.appointmentCard div.children h2, div.appointmentCard div.children h3 {
      font-size: 14px;
      display: inline-block;
      padding: 0;
      margin: 0; }
    div.appointmentCard div.children h3 {
      font-weight: 400;
      padding-left: 10px; }
    div.appointmentCard div.children > div {
      background: #5e6272;
      padding: 10px;
      margin: 10px 0; }
      div.appointmentCard div.children > div.someoneElse > div {
        padding-left: 10px; }
        div.appointmentCard div.children > div.someoneElse > div:first-of-type {
          padding-left: 0px;
          margin-bottom: 10px; }
    div.appointmentCard div.children div.extras {
      background: transparent !important; }
    div.appointmentCard div.children div.button {
      background: transparent;
      margin: 15px 10px; }

div.orderCard {
  display: flex;
  flex-direction: column;
  background: #5e6272;
  margin: 10px 0; }
  div.orderCard div.firstRow {
    display: flex;
    color: white;
    flex-direction: row;
    background: #5e6272;
    padding: 10px; }
    div.orderCard div.firstRow:nth-of-type(2) {
      margin-top: 0px; }
    div.orderCard div.firstRow div.index {
      width: 30%;
      font-size: 40px;
      font-weight: 700;
      text-align: center; }
    div.orderCard div.firstRow div.titles {
      width: 30%; }
      div.orderCard div.firstRow div.titles h2 {
        margin: 0;
        padding: 0;
        font-size: 13px;
        line-height: 20px; }
    div.orderCard div.firstRow div.items {
      width: 40%; }
      div.orderCard div.firstRow div.items h3 {
        line-height: 20px;
        margin: 0;
        padding: 0;
        font-size: 13px;
        font-weight: 300; }
  div.orderCard div.secondaryButtons {
    padding: 0 10px; }

span.close {
  position: absolute;
  right: 11px;
  top: 7px;
  width: 16px;
  height: 16px;
  opacity: 0.3; }
  span.close:hover {
    opacity: 1; }
  span.close:before, span.close:after {
    position: absolute;
    top: -1px;
    left: 7px;
    content: ' ';
    height: 19px;
    width: 2px;
    background-color: #333; }
  span.close:before {
    transform: rotate(45deg); }
  span.close:after {
    transform: rotate(-45deg); }
  span.close.modal {
    top: 18px;
    width: 28px;
    right: 12px;
    height: 28px; }
    span.close.modal::before {
      width: 3px;
      height: 28px; }
    span.close.modal::after {
      width: 3px;
      height: 28px; }

div.noAppointments {
  height: 100px;
  margin: 0px 10px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  color: #3c3f49;
  display: flex;
  justify-content: center;
  align-items: center; }
  div.noAppointments div {
    width: 80%; }

div.selectStrip {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 0;
  padding-top: 15px;
  margin-bottom: 5px;
  background: #d4d5d6;
  background: #3c3f49; }
  div.selectStrip > span.stripItem {
    display: inline-flex;
    align-self: center;
    margin: 0 5px;
    justify-content: center;
    width: 90px;
    height: 100%;
    position: relative;
    color: black;
    z-index: 15;
    cursor: pointer; }
    div.selectStrip > span.stripItem span {
      background: white;
      position: relative;
      text-align: center;
      padding: 5px;
      width: 75px;
      display: flex;
      justify-content: center;
      z-index: 5;
      font-size: 13px;
      flex-direction: column; }
      div.selectStrip > span.stripItem span div {
        align-self: center;
        width: 100%;
        align-content: stretch; }
        div.selectStrip > span.stripItem span div.distance {
          width: 100px;
          margin-top: 5px; }
        div.selectStrip > span.stripItem span div.item {
          font-weight: 600; }
    div.selectStrip > span.stripItem.date {
      height: 120px; }
      div.selectStrip > span.stripItem.date div {
        background: inherit; }
        div.selectStrip > span.stripItem.date div span {
          background: inherit;
          padding: 0 !important;
          margin: 0 !important;
          width: 100%;
          height: 30px;
          font-size: 15px; }
          div.selectStrip > span.stripItem.date div span.day {
            text-transform: uppercase;
            font-size: 19px;
            font-weight: 600; }
    div.selectStrip > span.stripItem.store {
      height: 110px;
      width: 110px; }
      div.selectStrip > span.stripItem.store span {
        width: 100px; }
    div.selectStrip > span.stripItem.time {
      height: 60px; }
      div.selectStrip > span.stripItem.time div {
        font-size: 14px;
        font-weight: 600; }
    div.selectStrip > span.stripItem > div {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      z-index: 10; }
  div.selectStrip.noScroll {
    display: flex;
    height: auto;
    padding: 5px 0;
    overflow: visible;
    flex-wrap: wrap;
    justify-content: center; }
    div.selectStrip.noScroll > span.stripItem {
      padding: 0;
      margin: 5px 0 5px 0; }

span.formInput {
  display: flex;
  justify-content: center;
  align-items: center; }
  span.formInput > form {
    padding: 10px 0;
    display: block;
    width: 100%;
    text-align: left; }
    span.formInput > form span.nested label {
      text-indent: 20px;
      height: 42px;
      line-height: 42px; }
    span.formInput > form span.nested > input {
      text-indent: 20px;
      height: 34px;
      line-height: 34px; }
    span.formInput > form span.nested div > div > div.Select-control {
      text-indent: 0px; }
    span.formInput > form span.nested label, span.formInput > form span.nested input, span.formInput > form span.nested div > div > div.Select-control {
      width: 100%;
      font-weight: 600;
      font-size: 13px;
      padding: 0px;
      text-align: left;
      text-align: -webkit-left;
      outline: none;
      border: 0px solid #f2f2f2;
      border-radius: 0px; }
      span.formInput > form span.nested label span.Select-multi-value-wrapper, span.formInput > form span.nested input span.Select-multi-value-wrapper, span.formInput > form span.nested div > div > div.Select-control span.Select-multi-value-wrapper {
        display: block;
        width: 100%; }
        span.formInput > form span.nested label span.Select-multi-value-wrapper div.Select-input, span.formInput > form span.nested input span.Select-multi-value-wrapper div.Select-input, span.formInput > form span.nested div > div > div.Select-control span.Select-multi-value-wrapper div.Select-input {
          display: block;
          width: 100%;
          padding: 0px;
          height: 34px;
          border-radius: 0px; }
          span.formInput > form span.nested label span.Select-multi-value-wrapper div.Select-input input, span.formInput > form span.nested input span.Select-multi-value-wrapper div.Select-input input, span.formInput > form span.nested div > div > div.Select-control span.Select-multi-value-wrapper div.Select-input input {
            width: 100%;
            display: block;
            border: 0px;
            height: 34px;
            line-height: 34px;
            margin-left: 20px; }
        span.formInput > form span.nested label span.Select-multi-value-wrapper div.Select-value, span.formInput > form span.nested input span.Select-multi-value-wrapper div.Select-value, span.formInput > form span.nested div > div > div.Select-control span.Select-multi-value-wrapper div.Select-value {
          padding-left: 20px; }
    span.formInput > form span.nested label {
      display: block;
      font-weight: 600;
      margin-top: 20px;
      background: #5e6272;
      text-indent: 20px;
      color: white; }
    span.formInput > form span.nested input[type="submit"] {
      margin-top: 20px;
      text-indent: 0px;
      border: 0px;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 600;
      text-align: center;
      text-align: -webkit-center;
      background: #f9fbff;
      background: #3c3f49;
      height: 42px;
      line-height: 42px;
      border: 1px solid #159936;
      color: white; }

div.welcomeMessage {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  margin-top: 20px;
  color: white;
  padding: 10px 10px; }
  div.welcomeMessage.inverted {
    margin-top: 0px;
    padding: 15px 10px;
    background: #3c3f49;
    font-weight: 400; }

div.Select.Select--single.is-focused.is-searchable.has-value {
  box-shadow: none;
  border-color: #f2f2f2; }
  div.Select.Select--single.is-focused.is-searchable.has-value div.Select-control {
    box-shadow: none;
    border-color: #f2f2f2; }

div.Select-menu-outer {
  border: 1px solid #f2f2f2;
  overflow: visible;
  padding: 0px;
  font-size: 12px;
  border-radius: 0px; }

a.react-datepicker__navigation.react-datepicker__navigation--previous, a.react-datepicker__navigation.react-datepicker__navigation--next {
  background: none; }
  a.react-datepicker__navigation.react-datepicker__navigation--previous:hover, a.react-datepicker__navigation.react-datepicker__navigation--next:hover {
    background: none; }

div.prescriptionGrid {
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  text-indent: 10px;
  border: 1px solid white; }
  div.prescriptionGrid.order {
    margin: 10px;
    line-height: 23px; }
    div.prescriptionGrid.order h2 {
      margin: 0;
      font-size: 13px;
      line-height: 28px;
      border: 1px solid white; }
    div.prescriptionGrid.order div.top {
      font-weight: 400;
      font-size: 12px !important; }
    div.prescriptionGrid.order div.cell {
      padding: 0 12px !important; }
    div.prescriptionGrid.order div.bottom {
      font-size: 12px !important; }
  div.prescriptionGrid div.top {
    width: 100%;
    font-weight: 600;
    border: 1px solid white;
    font-size: 14px;
    text-indent: 20px;
    background: #5e6272; }
  div.prescriptionGrid div.bottom {
    border: 1px solid white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    div.prescriptionGrid div.bottom div.cell {
      padding: 0 12px; }
      div.prescriptionGrid div.bottom div.cell span.bold {
        font-weight: 600;
        padding-right: 5px; }

div.react-datepicker-wrapper div input {
  margin-top: 4px;
  width: 250px;
  height: 38px;
  outline: none;
  font-size: 13px;
  background: #f7f9fc;
  padding-left: 10px; }

div.goodAfternoon, div.pagenotfound {
  display: block;
  text-align: center;
  padding-top: 30px;
  line-height: 40px;
  font-size: 14px;
  color: white; }

nav {
  position: absolute;
  width: 100%;
  height: 70px;
  background: white;
  border-top: 2px solid #d4d5d6;
  bottom: 0px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 1000;
  overflow: hidden;
  transition: height 0.2s ease, bottom 0.2s ease; }
  nav.hide {
    border-top: 0px solid #d4d5d6;
    height: 0px !important;
    padding: 0px;
    bottom: 70px  !important; }
  nav div {
    position: relative;
    display: inline-flex;
    overflow: visible; }
    nav div a {
      text-transform: capitalize;
      padding: 0 12px;
      display: block;
      line-height: 66px;
      font-weight: 600;
      color: black;
      font-size: 14.5px;
      overflow: visible;
      color: #3c3f49; }
    nav div.active a {
      color: #159936; }

span.notificationBubble {
  position: absolute;
  top: 5px;
  right: 3px;
  width: 17px;
  height: 17px;
  display: inline-block;
  background: #159936;
  color: white;
  text-align: center;
  font-size: 12px;
  opacity: 0.9;
  overflow: visible;
  z-index: -1; }
  span.notificationBubble.home {
    position: absolute;
    background: none;
    color: white;
    right: 35px;
    top: 7px;
    font-weight: 600;
    width: 18px;
    height: 18px;
    font-size: 13px; }
  span.notificationBubble.dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    font-size: 0px;
    top: 30px;
    right: 65px;
    z-index: 100; }
  span.notificationBubble.homedot {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #159936;
    top: 16px;
    right: 85px; }
  span.notificationBubble div {
    position: absolute;
    right: 2px;
    font-size: 16px;
    top: -7px; }

div.offline {
  line-height: 35px;
  height: 35px;
  text-align: center;
  background: #4a6bce;
  color: white;
  font-size: 13px; }

div.LatLngInput {
  display: flex;
  flex-direction: column; }
  div.LatLngInput div.inner {
    padding: 10px;
    display: flex;
    flex-direction: row; }
    div.LatLngInput div.inner span {
      width: 100%; }
      div.LatLngInput div.inner span label {
        margin-right: 10px;
        display: inline-block;
        line-height: 25px;
        margin: 0;
        font-size: 16px;
        color: white;
        padding: 0; }
      div.LatLngInput div.inner span input {
        margin-left: 10px;
        display: inline-block;
        line-height: 25px;
        width: 60%;
        border: 0px;
        text-indent: 10px;
        outline: none; }

.sk-circle {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0); }

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #5e6272;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
