html {
  background: white; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden; }

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

::-webkit-scrollbar {
  position: relative;
  width: 0px;
  /* remove scrollbar space */
  background: transparent; }

body {
  width: 100%;
  height: calc(100%);
  margin: 0px auto;
  -webkit-box-shadow: 0px 1px 26px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 26px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 26px 2px rgba(0, 0, 0, 0.16); }

a {
  color: inherit;
  text-decoration: none; }

ul {
  list-style: none; }

div.wrap {
  max-height: calc(100vh);
  overflow-y: scroll; }
  div.wrap > span {
    padding: 0px 0;
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    min-height: calc(100vh);
    background: #f2f2f2;
    font-size: 14px;
    flex-direction: column; }
    div.wrap > span a {
      text-align: center; }

.gm-style-mtc, .gm-svpc, button[title="Toggle fullscreen view"] {
  display: none; }

input.googleMapsInput {
  box-sizing: border-box;
  border: 0px solid transparent;
  width: 120px;
  height: 32px;
  padding: 0 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  outline: none;
  text-overflow: ellipsis;
  margin-top: 15px;
  margin-left: -6px;
  opacity: 0.85;
  transition: 0.3s ease; }
  input.googleMapsInput:focus {
    opacity: 1;
    width: 93%; }
  input.googleMapsInput::placeholder {
    font-style: italic;
    color: black; }

div.button {
  font-size: 13px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  margin: 10px 0;
  padding: 9px;
  border: 1px solid #159936;
  position: relative;
  font-weight: 600;
  line-height: 20px;
  background: #f9fbff;
  background: #e8efef;
  background: transparent;
  text-align: center; }
  div.button a {
    width: 100%;
    height: 100%; }
  div.button.primary {
    background: #159936 !important;
    color: white; }
  div.button.cancel {
    color: red !important; }
  div.button.directions {
    text-transform: uppercase; }

div.content-image {
  display: block;
  margin: 20px 10px;
  background: white; }
  div.content-image div.imageBox {
    display: block;
    height: 215px;
    overflow-y: hidden; }
    div.content-image div.imageBox img {
      overflow-y: hidden;
      width: calc(100%); }
  div.content-image div.textBox {
    font-size: 15px;
    font-weight: 600;
    display: block;
    height: 100px;
    line-height: 100px;
    text-indent: 20px; }

span.logOutButton {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px; }
  span.logOutButton.secondary {
    border: 1px solid #159936;
    color: white; }
    span.logOutButton.secondary a {
      width: 100%;
      padding: 0;
      background: transparent;
      line-height: 15px; }

span.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  padding: 12px 0;
  position: relative;
  margin: 10px 0; }
  span.linkButton.alone {
    margin: 10px 10px 0 10px;
    padding-bottom: 4px; }
  span.linkButton.blue a {
    background: #102233; }
  span.linkButton.secondary {
    border: 1px solid #159936;
    color: white; }
    span.linkButton.secondary a {
      padding: 0;
      background: transparent;
      line-height: 15px; }
  span.linkButton.appointment {
    background: #102233;
    border: 0px; }
  span.linkButton a, span.linkButton span {
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    background: #f9fbff;
    background: #e8efef;
    text-transform: capitalize;
    -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.03);
    transition: 0.1s ease; }
    span.linkButton a:hover, span.linkButton span:hover {
      background: #e8efef;
      background: #f9fbff; }
  span.linkButton a {
    opacity: 0.9;
    background: #159936;
    color: white; }
    span.linkButton a:hover {
      background: #42af85; }
  span.linkButton.big a {
    margin: 20px 0 15px 0;
    line-height: 70px;
    background: #142119;
    background: linear-gradient(-90deg, #09562d, #101110);
    transition: 0.3s ease-out; }
    span.linkButton.big a:hover {
      opacity: 0.4; }

div.confirmAppointmentPopUp {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 100vh;
  width: 375px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  flex-direction: column; }
  div.confirmAppointmentPopUp.show {
    opacity: 1;
    visibility: visible; }
  div.confirmAppointmentPopUp span {
    font-size: 22px;
    font-weight: 600;
    color: #159936; }

div.Collapsible {
  position: relative;
  line-height: 45px;
  margin: 0 10px;
  border-radius: 0;
  z-index: 100; }
  div.Collapsible span.Collapsible__trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    width: 100%;
    right: 0px;
    border-radius: 0; }
    div.Collapsible span.Collapsible__trigger:after {
      content: '';
      position: absolute;
      display: inline-block;
      margin: 2px;
      top: 10px;
      right: 1px;
      width: 10px;
      height: 10px;
      border-top: 4px solid white;
      border-right: 4px solid white;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg); }
    div.Collapsible span.Collapsible__trigger.is-open:after {
      top: 15px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
  div.Collapsible span.titleCollapse {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    color: white; }
  div.Collapsible div.Collapsible__contentInner p {
    position: relative;
    background: #283c4e;
    line-height: 30px;
    border: 0px solid red;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    color: white; }

div.notificationCard {
  background: #102233;
  margin: 10px; }
  div.notificationCard div.Collapsible {
    border-top: 1px solid white !important; }

span.chatIntercomWrap {
  font-size: 12px;
  z-index: 1000; }
  span.chatIntercomWrap div.chatDialog {
    background: white;
    position: fixed;
    width: 100%;
    height: calc(100% - 70px);
    bottom: 70px;
    opacity: 1; }
    span.chatIntercomWrap div.chatDialog > div {
      padding: 10px;
      height: 100%; }
      span.chatIntercomWrap div.chatDialog > div > div.title {
        line-height: 17px;
        background: #118848;
        color: white;
        font-weight: 600;
        text-align: center;
        position: relative;
        padding: 10px; }
        span.chatIntercomWrap div.chatDialog > div > div.title span.close {
          top: 8px;
          width: 18px;
          height: 20px; }
          span.chatIntercomWrap div.chatDialog > div > div.title span.close::before {
            width: 3px;
            height: 24px; }
          span.chatIntercomWrap div.chatDialog > div > div.title span.close::after {
            width: 3px;
            height: 24px; }
      span.chatIntercomWrap div.chatDialog > div > div.history {
        height: 85%;
        border: 1px solid #f2f2f2;
        padding: 5px;
        overflow-y: scroll; }
        span.chatIntercomWrap div.chatDialog > div > div.history div.message.me > div {
          margin-top: 10px;
          padding: 6px;
          border-radius: 8px;
          margin-right: 10%;
          background: #eaf6f7; }
        span.chatIntercomWrap div.chatDialog > div > div.history div.message.them > div {
          margin-top: 10px;
          padding: 6px;
          border-radius: 8px;
          margin-left: 10%;
          background: #118848;
          color: white; }
          span.chatIntercomWrap div.chatDialog > div > div.history div.message.them > div.replies {
            margin-top: 15px;
            margin-left: 0%;
            border-radius: 0px;
            background: none;
            display: flex;
            justify-content: center;
            align-items: center; }
            span.chatIntercomWrap div.chatDialog > div > div.history div.message.them > div.replies > span {
              padding: 7px 12px;
              display: inline-block;
              border-radius: 100px;
              text-align: center;
              opacity: 0.7;
              margin: 2px 3px;
              background: #551268;
              cursor: pointer; }
              span.chatIntercomWrap div.chatDialog > div > div.history div.message.them > div.replies > span:hover {
                opacity: 0.8; }
      span.chatIntercomWrap div.chatDialog > div > input {
        margin-top: -1px;
        font-size: 12px;
        padding: 10px;
        display: block;
        outline: none;
        width: 100%;
        border: 1px solid #f2f2f2; }
  span.chatIntercomWrap span.chatIntercom {
    background: #118848;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    position: fixed;
    bottom: 78px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.95; }
    span.chatIntercomWrap span.chatIntercom span {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 11.5px;
      color: white;
      cursor: inherit; }
    span.chatIntercomWrap span.chatIntercom:hover {
      opacity: 0.85; }

div.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 25px; }
  div.headerBar div.profileName {
    text-align: left;
    padding: 10px;
    font-weight: 600;
    color: white;
    font-size: 16px; }
  div.headerBar span {
    padding-right: 20px; }
    div.headerBar span img {
      border-radius: 80px;
      height: 90px;
      width: 90px; }

div.gmapsMarker {
  width: 0px;
  height: 0px;
  text-align: center;
  transition: 0.2s ease;
  position: relative;
  opacity: 0.9; }
  div.gmapsMarker.home {
    opacity: 0.8; }
  div.gmapsMarker.store {
    z-index: 1;
    background: red; }
    div.gmapsMarker.store svg {
      transition: 0.2s ease;
      transform: translate(-50%, -100%);
      height: 35px;
      fill: #102233; }
    div.gmapsMarker.store.selected {
      z-index: 100; }
      div.gmapsMarker.store.selected svg {
        fill: #159936;
        width: 80px;
        height: 65px; }

div.gmap-wrap {
  width: 100%;
  height: 300px;
  position: relative; }
  div.gmap-wrap div.gmap-search-wrap {
    position: absolute;
    width: 100%;
    display: block;
    top: 0; }
    div.gmap-wrap div.gmap-search-wrap span.click {
      position: absolute;
      width: 40px;
      height: 40px;
      display: block;
      background: red;
      top: 0; }
    div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root {
      line-height: 25px;
      height: 25px;
      width: calc(100% - 20px);
      height: 34px;
      position: absolute;
      top: 7px;
      right: 10px; }
      div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root input {
        border: 0px;
        padding: 0px;
        outline: none;
        width: 100%;
        line-height: 42px;
        text-indent: 15px;
        border-radius: 2px;
        opacity: 0.85;
        outline: none; }
        div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root input:focus {
          outline: none;
          border: 0px;
          opacity: 1; }
      div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root div.my-autocomplete-container {
        height: 100px;
        line-height: 12px;
        font-size: 11px;
        opacity: 1;
        padding: 2px 0;
        height: 25px;
        z-index: 200;
        display: block;
        position: absolute;
        width: 100%;
        background: white;
        margin-top: -2px; }
        div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root div.my-autocomplete-container > div {
          border-top: 1px solid #eff1f2; }
        div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root div.my-autocomplete-container > div:nth-last-of-type(2) {
          border-radius: 0 0 2px 2px;
          background: red; }
        div.gmap-wrap div.gmap-search-wrap div#PlacesAutocomplete__root div.my-autocomplete-container div#PlacesAutocomplete__google-logo {
          display: none; }

div.webcam {
  height: calc(100vh - 30px);
  font-size: 0; }
  div.webcam div.webcamWrap {
    height: calc(100% - 80px);
    background: grey;
    overflow: hidden;
    position: relative; }
    div.webcam div.webcamWrap > section {
      height: 100%; }
      div.webcam div.webcamWrap > section section {
        padding: 0;
        height: 100%; }
    div.webcam div.webcamWrap div.viewfinder {
      width: calc(100vw - 50px);
      height: calc(100vw - 50px);
      position: absolute;
      left: 25px;
      z-index: 3000;
      border: 7px solid tomato;
      top: 50vh;
      transform: translate(0, calc(-50% - 20px)); }
    div.webcam div.webcamWrap div.result {
      left: 25px;
      width: calc(100vw - 50px);
      position: absolute;
      top: 5px;
      height: 25px;
      opacity: 0.8;
      background: white;
      color: black;
      font-size: 13px;
      line-height: 25px;
      text-align: center; }
    div.webcam div.webcamWrap video {
      zoom: 100%;
      object-fit: cover; }
  div.webcam a {
    font-size: 14px;
    line-height: 40px;
    display: block;
    background: #102233;
    color: white;
    text-align: center;
    font-weight: 600; }

a.scanQRCode {
  display: block;
  text-align: center;
  background: #102233;
  height: 50px;
  line-height: 50px;
  color: white;
  font-weight: 600;
  font-size: 16px; }

div.ticket {
  width: 100%;
  background: #f2f2f2; }
  div.ticket div.ticketTitle {
    background: white;
    text-align: center;
    padding-top: 20px;
    line-height: 45px; }

div.miniTicket {
  padding: 10px;
  padding-bottom: 0px;
  position: relative;
  background: #f2f2f2;
  line-height: 20px; }
  div.miniTicket:last-of-type {
    padding-bottom: 0px; }
  div.miniTicket div.miniTicketInnerWrap {
    -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 1px 2px 2px transparent;
    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.03);
    text-align: left;
    background: #fcfcfc;
    background: #102233;
    position: relative;
    padding-bottom: 0px; }
    div.miniTicket div.miniTicketInnerWrap > span {
      color: white;
      display: block;
      font-weight: 400;
      text-align: center;
      font-style: italic;
      font-size: 14px;
      padding: 15px 0 4px 0px; }
  div.miniTicket div.miniTicketBody {
    text-align: left;
    padding: 0 10px; }

div.cardStyle {
  margin: 5px 0; }
  div.cardStyle div {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 230px;
    padding: 20px 0;
    font-weight: 600; }

div.orderAndAppointments {
  color: white;
  line-height: 30px;
  font-size: 15px;
  padding-bottom: 10px; }

div.appointmentCard {
  color: white; }
  div.appointmentCard > span {
    display: block; }
  div.appointmentCard > div.firstRow {
    flex-direction: row;
    display: flex;
    justify-content: space-between; }
    div.appointmentCard > div.firstRow > div {
      text-align: center;
      justify-content: center;
      flex-direction: column;
      display: flex;
      width: 30%;
      height: 100px;
      background: #283c4e;
      padding: 15px 0 6px 0; }
      div.appointmentCard > div.firstRow > div h3 {
        line-height: 40px;
        display: block;
        margin: 0;
        padding: 0;
        align-self: center;
        font-size: 12px;
        font-weight: 400;
        height: 25px;
        line-height: 15px; }
      div.appointmentCard > div.firstRow > div svg {
        align-self: center;
        fill: white;
        padding-bottom: 9px; }
  div.appointmentCard div.optician {
    display: flex;
    justify-content: start;
    padding-left: 10px;
    margin: 10px 0;
    line-height: 40px;
    height: 40px;
    margin-bottom: 30px; }
    div.appointmentCard div.optician h2, div.appointmentCard div.optician h3, div.appointmentCard div.optician span {
      display: inline-block;
      min-width: 20px;
      font-size: 14px;
      align-items: center;
      height: 100%;
      padding: 0px 0;
      margin: 0;
      font-weight: 400; }
    div.appointmentCard div.optician span {
      padding: 0 10px; }
    div.appointmentCard div.optician h2 {
      font-weight: 600; }
  div.appointmentCard:last-of-type div.optician {
    margin-bottom: 10px; }
  div.appointmentCard div.children {
    padding-bottom: 1px; }
    div.appointmentCard div.children h2, div.appointmentCard div.children h3 {
      font-size: 14px;
      display: inline-block;
      padding: 0;
      margin: 0; }
    div.appointmentCard div.children h3 {
      font-weight: 400;
      padding-left: 10px; }
    div.appointmentCard div.children > div {
      background: #283c4e;
      padding: 10px;
      margin: 10px 0; }
      div.appointmentCard div.children > div.someoneElse > div {
        padding-left: 10px; }
        div.appointmentCard div.children > div.someoneElse > div:first-of-type {
          padding-left: 0px;
          margin-bottom: 10px; }
    div.appointmentCard div.children div.extras {
      background: transparent !important; }
    div.appointmentCard div.children div.button {
      background: transparent;
      margin: 15px 10px; }

div.orderCard {
  display: flex;
  flex-direction: column;
  background: #283c4e;
  margin: 10px 0; }
  div.orderCard div.firstRow {
    display: flex;
    color: white;
    flex-direction: row;
    background: #283c4e;
    padding: 10px; }
    div.orderCard div.firstRow:nth-of-type(2) {
      margin-top: 0px; }
    div.orderCard div.firstRow div.index {
      width: 30%;
      font-size: 40px;
      font-weight: 700;
      text-align: center; }
    div.orderCard div.firstRow div.titles {
      width: 30%; }
      div.orderCard div.firstRow div.titles h2 {
        margin: 0;
        padding: 0;
        font-size: 13px;
        line-height: 20px; }
    div.orderCard div.firstRow div.items {
      width: 40%; }
      div.orderCard div.firstRow div.items h3 {
        line-height: 20px;
        margin: 0;
        padding: 0;
        font-size: 13px;
        font-weight: 300; }
  div.orderCard div.secondaryButtons {
    padding: 0 10px; }

span.close {
  position: absolute;
  right: 11px;
  top: 7px;
  width: 16px;
  height: 16px;
  opacity: 0.3; }
  span.close:hover {
    opacity: 1; }
  span.close:before, span.close:after {
    position: absolute;
    top: -1px;
    left: 7px;
    content: ' ';
    height: 19px;
    width: 2px;
    background-color: #333; }
  span.close:before {
    transform: rotate(45deg); }
  span.close:after {
    transform: rotate(-45deg); }

div.noAppointments {
  border: 1px solid #f2f2f2;
  height: 100px;
  margin: 0px 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center; }
  div.noAppointments span {
    margin-left: 3px; }

div.selectStrip {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 0;
  padding-top: 15px;
  margin-bottom: 5px;
  background: #d4d5d6;
  background: #102233; }
  div.selectStrip > span.stripItem {
    display: inline-flex;
    align-self: center;
    margin: 0 5px;
    justify-content: center;
    width: 90px;
    height: 100%;
    position: relative;
    color: black;
    z-index: 15;
    cursor: pointer; }
    div.selectStrip > span.stripItem span {
      background: white;
      position: relative;
      text-align: center;
      padding: 5px;
      width: 75px;
      display: flex;
      justify-content: center;
      z-index: 5;
      font-size: 13px;
      flex-direction: column; }
      div.selectStrip > span.stripItem span div {
        align-self: center;
        width: 100%;
        align-content: stretch; }
        div.selectStrip > span.stripItem span div.distance {
          width: 100px;
          margin-top: 5px; }
        div.selectStrip > span.stripItem span div.item {
          font-weight: 600; }
    div.selectStrip > span.stripItem.date {
      height: 120px; }
      div.selectStrip > span.stripItem.date div {
        background: inherit; }
        div.selectStrip > span.stripItem.date div span {
          background: inherit;
          padding: 0 !important;
          margin: 0 !important;
          width: 100%;
          height: 30px;
          font-size: 15px; }
          div.selectStrip > span.stripItem.date div span.day {
            text-transform: uppercase;
            font-size: 19px;
            font-weight: 600; }
    div.selectStrip > span.stripItem.store {
      height: 110px;
      width: 110px; }
      div.selectStrip > span.stripItem.store span {
        width: 100px; }
    div.selectStrip > span.stripItem.time {
      height: 60px; }
      div.selectStrip > span.stripItem.time div {
        font-size: 14px;
        font-weight: 600; }
    div.selectStrip > span.stripItem > div {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      z-index: 10; }
  div.selectStrip.noScroll {
    display: flex;
    height: auto;
    padding: 5px 0;
    overflow: visible;
    flex-wrap: wrap;
    justify-content: center; }
    div.selectStrip.noScroll > span.stripItem {
      padding: 0;
      margin: 5px 0 5px 0; }

span.appointmentInput {
  padding: 15px 0px 0 0px;
  display: block;
  width: 100%;
  text-align: left; }
  span.appointmentInput label {
    height: 42px;
    line-height: 42px;
    display: block;
    font-weight: 600;
    margin-top: 5px;
    background: #283c4e;
    color: white;
    text-indent: 20px;
    font-size: 14px; }
  span.appointmentInput input, span.appointmentInput textarea {
    width: 100%;
    font-weight: 600;
    font-size: 12px;
    padding: 0px;
    text-align: left;
    text-align: -webkit-left;
    outline: none;
    border-radius: 0px;
    line-height: 34px;
    text-indent: 20px; }
  span.appointmentInput textarea {
    font-weight: 400;
    line-height: 16px;
    text-indent: 0px;
    padding: 10px;
    min-height: 88px;
    max-height: 150px;
    min-width: 100%;
    max-width: 100%; }

span.formInput {
  display: flex;
  justify-content: center;
  align-items: center; }
  span.formInput > form {
    padding: 10px 0;
    display: block;
    width: 100%;
    text-align: left; }
    span.formInput > form span.nested label {
      text-indent: 20px;
      height: 42px;
      line-height: 42px; }
    span.formInput > form span.nested > input {
      text-indent: 20px;
      height: 34px;
      line-height: 34px; }
    span.formInput > form span.nested div > div > div.Select-control {
      text-indent: 0px; }
    span.formInput > form span.nested label, span.formInput > form span.nested input, span.formInput > form span.nested div > div > div.Select-control {
      width: 100%;
      font-weight: 600;
      font-size: 13px;
      padding: 0px;
      text-align: left;
      text-align: -webkit-left;
      outline: none;
      border: 0px solid #f2f2f2;
      border-radius: 0px; }
      span.formInput > form span.nested label span.Select-multi-value-wrapper, span.formInput > form span.nested input span.Select-multi-value-wrapper, span.formInput > form span.nested div > div > div.Select-control span.Select-multi-value-wrapper {
        display: block;
        width: 100%; }
        span.formInput > form span.nested label span.Select-multi-value-wrapper div.Select-input, span.formInput > form span.nested input span.Select-multi-value-wrapper div.Select-input, span.formInput > form span.nested div > div > div.Select-control span.Select-multi-value-wrapper div.Select-input {
          display: block;
          width: 100%;
          padding: 0px;
          height: 34px;
          border-radius: 0px; }
          span.formInput > form span.nested label span.Select-multi-value-wrapper div.Select-input input, span.formInput > form span.nested input span.Select-multi-value-wrapper div.Select-input input, span.formInput > form span.nested div > div > div.Select-control span.Select-multi-value-wrapper div.Select-input input {
            width: 100%;
            display: block;
            border: 0px;
            height: 34px;
            line-height: 34px;
            margin-left: 20px; }
        span.formInput > form span.nested label span.Select-multi-value-wrapper div.Select-value, span.formInput > form span.nested input span.Select-multi-value-wrapper div.Select-value, span.formInput > form span.nested div > div > div.Select-control span.Select-multi-value-wrapper div.Select-value {
          padding-left: 20px; }
    span.formInput > form span.nested label {
      display: block;
      font-weight: 600;
      margin-top: 20px;
      background: #283c4e;
      text-indent: 20px;
      color: white; }
    span.formInput > form span.nested input[type="submit"] {
      margin-top: 20px;
      text-indent: 0px;
      border: 0px;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 600;
      text-align: center;
      text-align: -webkit-center;
      background: #f9fbff;
      background: #102233;
      height: 42px;
      line-height: 42px;
      border: 1px solid #159936;
      color: white; }

div.welcomeMessage {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  margin-top: 20px;
  color: white;
  padding: 10px 10px; }
  div.welcomeMessage.inverted {
    margin-top: 0px;
    padding: 15px 10px;
    background: #102233;
    font-weight: 400; }

div.Select.Select--single.is-focused.is-searchable.has-value {
  box-shadow: none;
  border-color: #f2f2f2; }
  div.Select.Select--single.is-focused.is-searchable.has-value div.Select-control {
    box-shadow: none;
    border-color: #f2f2f2; }

div.Select-menu-outer {
  border: 1px solid #f2f2f2;
  overflow: visible;
  padding: 0px;
  font-size: 12px;
  border-radius: 0px; }

a.react-datepicker__navigation.react-datepicker__navigation--previous, a.react-datepicker__navigation.react-datepicker__navigation--next {
  background: none; }
  a.react-datepicker__navigation.react-datepicker__navigation--previous:hover, a.react-datepicker__navigation.react-datepicker__navigation--next:hover {
    background: none; }

div.react-datepicker-wrapper div input {
  margin-top: 4px;
  width: 250px;
  height: 38px;
  outline: none;
  font-size: 13px;
  background: #f7f9fc;
  padding-left: 10px; }

div.goodAfternoon, div.pagenotfound {
  display: block;
  text-align: center;
  padding-top: 30px;
  line-height: 40px;
  font-size: 14px;
  color: white; }

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  background: white;
  border-top: 2px solid #d4d5d6;
  bottom: 0px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 100; }
  nav div {
    position: relative;
    display: inline-flex;
    overflow: visible; }
    nav div a {
      text-transform: capitalize;
      padding: 0 12px;
      display: block;
      line-height: 66px;
      font-weight: 600;
      color: black;
      font-size: 14.5px;
      overflow: visible;
      color: #102233; }
    nav div.active a {
      color: #159936; }

span.notificationBubble {
  position: absolute;
  top: 5px;
  right: 3px;
  width: 17px;
  height: 17px;
  display: inline-block;
  background: #159936;
  color: white;
  text-align: center;
  font-size: 12px;
  opacity: 0.9;
  overflow: visible;
  z-index: -1; }
  span.notificationBubble.home {
    position: absolute;
    background: none;
    color: white;
    right: 35px;
    top: 7px;
    font-weight: 600;
    width: 18px;
    height: 18px;
    font-size: 13px; }
  span.notificationBubble.dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    font-size: 0px;
    top: 30px;
    right: 65px;
    z-index: 100; }
  span.notificationBubble.homedot {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #159936;
    top: 16px;
    right: 85px; }
  span.notificationBubble div {
    position: absolute;
    right: 2px;
    font-size: 16px;
    top: -7px; }
