
$green: #159936;
$grey: #f2f2f2;
$lightGrey: #fcfcfc;
$greyBlue: #f9fbff;
$slate: #d4d5d6; // for borders

$navy: #102233;
$lightNavy: #283c4e;

html {
  background: white;
}
html,body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  margin: 0; height: 100%; overflow: hidden
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-webkit-scrollbar {
  position: relative;
  width: 0px;  /* remove scrollbar space */
  background: transparent;
}

body {
  width: 100%;
  height: calc(100%);
  margin: 0px auto;
  -webkit-box-shadow: 0px 1px 26px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 26px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 26px 2px rgba(0,0,0,0.16);
}
a {
  color:inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
div.wrap {
  max-height: calc(100vh);
  min-height: calc(100vh);
  // padding-bottom: 40px;
  overflow-y: scroll;
  > span {
    padding: 0px 0;
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    min-height: calc(100vh);
    // overflow-y: scroll;
    background: $grey;
    // justify-content: center;
    // align-items:center;
    font-size: 14px;
    flex-direction: column;
    a {
      text-align: center;
    }
  }
}
// button[title="Toggle fullscreen view"]

.gm-style-mtc, .gm-svpc, button[title="Toggle fullscreen view"] {
  display: none;
}

input.googleMapsInput {
  box-sizing: border-box;
  border: 0px solid transparent;
  width: 120px;
  height: 32px;
  padding: 0 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  outline: none;
  text-overflow: ellipsis;
  margin-top: 15px;
  margin-left: -6px;
  opacity: 0.85;
  transition: 0.3s ease;
  &:focus {
    opacity: 1;
    width: 93%;
  }
  &::placeholder {
    font-style: italic;
    color: black;
  }
}

div.button {
  font-size: 13px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  margin: 10px 0;
  padding: 9px;
  border: 1px solid $green;
  position: relative;
  font-weight: 600;
  line-height: 20px;
  background: $greyBlue;
  background: #e8efef;
  background: transparent;
  // text-transform: uppercase;
  // -webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.03);
  // -moz-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.03);
  // box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.03);
  // transition: 0.1s ease;
  text-align: center;
  a {
    // background: $green;
    width: 100%;
    height: 100%;
  }
  &.primary {
    background: $green !important;
    color:white;
  }
  &.cancel {
    color:red !important;
  }
  &.directions {
    text-transform: uppercase;
  }
}
div.content-image {
  display: block;
  margin: 20px 10px;
  background: white;
  div.imageBox {
    display: block;
    height: 215px;
    overflow-y: hidden;
    img {
      overflow-y: hidden;
      width: calc(100%);
    }
  }
  div.textBox {
    // background: red;
    font-size: 15px;
    font-weight: 600;
    display: block;
    height: 100px;
    line-height: 100px;
    text-indent: 20px;
  }
}


span.logOutButton {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  &.secondary {
    border: 1px solid $green;
    color: white;
    a {
      width: 100%;
      padding: 0;
      background: transparent;
      line-height: 15px;
    }
  }

}

span.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  padding: 12px 0;
  position: relative;
  margin: 10px 0;
  &.alone {
    margin: 10px 10px 0 10px;
    padding-bottom: 4px;
  }
  &.blue a {
    background: $navy;
  }
  &.secondary {
    border: 1px solid $green;
    color: white;
    a {
      padding: 0;
      background: transparent;
      line-height: 15px;
    }
  }
  &.appointment {
    background: $navy;
    border: 0px;
  }
  a,span {
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    background: $greyBlue;
    background: #e8efef;
    text-transform: capitalize;
    -webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.03);
    box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.03);
    transition: 0.1s ease;
    &:hover{
      // transform: translateY(-3%);
      background: #e8efef;
      background: $greyBlue;
    }
  }
  a {
      opacity: 0.9;
      background: $green;
      color: white;
      &:hover{
        background: #42af85;
      }
  }
  &.big{
    a {
      margin: 20px 0 15px 0;
      line-height: 70px;
      background: #142119;
      background: linear-gradient(-90deg, #09562d, #101110);
      transition: 0.3s ease-out;
      &:hover{
          opacity: 0.4;
      }
    }
  }
}



div.confirmAppointmentPopUp {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 100vh;
  width:100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  flex-direction: column;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  span {
    font-size: 22px;
    font-weight: 600;
    color: $green
  }
}

div.Collapsible {
  // margin: 10px;
  position: relative;
  // background: grey;
  line-height: 45px;
  margin: 0 10px;
  border-radius: 0;
  z-index: 50;
  span.Collapsible__trigger{
    // padding-left: 5px;
    cursor: pointer;
    display: block;
    position: absolute;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    width: 100%;
    right: 0px;
    border-radius: 0;
    // background: red;
    &:after{
      content: '';
      position: absolute;
      display: inline-block;
      margin: 2px;
      // margin-left:167px;
      top: 10px;
      right: 1px;
      width: 10px;
      height: 10px;
      border-top: 4px solid white;
      border-right: 4px solid white;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg) ;
    }
    &.is-open {
      &:after{
        top: 15px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
  span.titleCollapse{
    // padding-left: 20px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    color: white;

  }
  div.Collapsible__contentInner{
    p{position: relative;
      background: $lightNavy;
      line-height: 30px;
      border: 0px solid red;
      padding: 0px;
      padding-left: 20px;
      margin: 0px;
      color: white;
    }
  }
}
div.notificationCard {
  background:$navy;
  margin: 10px;
  div.Collapsible {
    border-top: 1px solid white !important;
  }
}
span.chatIntercomWrap {
  font-size: 13px;
  z-index: 1000;
  div.chatDialog {
    background: white;
    position: fixed;
    width: 100%;
    height: calc(100% - 70px);
    bottom: 70px;
    opacity: 1;
    // margin-left: 10px;
    > div {
      padding: 20px;
      height: 100%;
      // border: 1px solid $grey;
      > div.title {
        line-height: 27px;
        background: $green;
        color: white;
        font-weight: 600;
        text-align: center;
        position: relative;
        // border: 1px solid $grey;
        padding: 10px;
        span.close {
          top: 12px;
          width: 18px;
          height: 20px;
          &::before{
            width: 3px;
            height: 24px;
          }
          &::after{
            width: 3px;
            height: 24px;
          }
        }
      }
      > div.history {
        height: 75%;
        border: 2px solid $grey;
        padding: 5px;
        overflow-y: scroll;
        div.message {
          &.me {
            > div {
              margin-top: 10px;
              padding: 6px;
              border-radius: 8px;
              margin-right: 10%;
              background: #eaf6f7;
            }
          }
          &.them {
            > div {
              margin-top: 10px;
              padding: 6px;
              border-radius: 8px;
              margin-left: 10%;
              background: $lightNavy;
              color: white;
              &.replies {
                margin-top: 15px;
                margin-left: 0%;
                border-radius: 0px;
                background: none;
                display: flex;
                justify-content: center;
                align-items: center;
                > span {
                  padding: 7px 12px;
                  display: inline-block;
                  border-radius: 100px;
                  text-align: center;
                  opacity: 0.98;
                  margin: 2px 3px;
                  background: $green;
                  cursor: pointer;
                  &:hover{
                    opacity: 0.8;
                  }
                }
              }
            }
          }
        }
      }
      > input {
        margin-top: -2px;
        font-size: 15px;
        padding: 8px;
        line-height: 30px;
        display: block;
        outline: none;
        width: 100%;
        border: 2px solid $grey;
      }
    }
  }
  span.chatIntercom {
    background: $green;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    position: fixed;
    bottom: 78px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.95;
    // margin-left: 300px;
    span {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 11.5px;
      color: white;
      cursor: inherit;
    }
    &:hover {
      opacity: 0.85;
    }
  }
}


div.headerBar {
  display: flex;
  align-items: center;
  justify-content:space-between;
  // background: $green;
  flex-direction: row;
  margin-bottom: 25px;
  div.profileName{
    text-align: left;
    padding: 10px;
    font-weight: 600;
    color: white;
    font-size: 16px;
  }
  span{
    padding-right: 20px;
    img {
      border-radius: 80px;
      height:90px;
      width:90px;
    }
  }
}

div.gmapsMarker {
  width: 0px;
  height:0px;
  text-align: center;
  transition: 0.2s ease;
  position: relative;
  opacity: 0.9;


  &.home {
    opacity: 0.8;
    svg {
      // fill: $navy;
    }
  }
  &.store {
    z-index: 1;
    background: red;
    // position: absolute;
    svg {
      transition: 0.2s ease;
      transform: translate(-50%, -100%);
      height: 35px;
      // width: 100px;
      fill: $navy;
    }
    &.selected {
      z-index: 100;
      svg {
        // transform: translate(-50%, -100%);
        fill: $green;
        width: 80px;
        height: 65px;
        // height: 105px;
      }
    }
  }
}


div.gmap-wrap { // wrap for both components
  width: 100%;
  height: 300px;
  position: relative;
  div.gmap-search-wrap { // search button
    position: absolute;
    width: 100%;
    display:block;
    top:0;
    span.click {
      position: absolute;
      width: 40px;
      height: 40px;
      display:block;
      background: red;
      top:0;
    }
    div#PlacesAutocomplete__root{ // gmap root button
      line-height: 25px;
      height: 25px;
      width: calc(100% - 20px);
      height: 34px;
      position: absolute;
      top: 7px;
      right: 10px;
      input {
        border: 0px;
        padding: 0px;
        outline: none;
        width: 100%;
        line-height: 42px;
        text-indent: 15px;
        border-radius: 2px;
        opacity: 0.85;
        outline: none;
        &:focus {
          outline: none;
          // outline: none;
          border: 0px;
           opacity: 1;
          // border-radius: 3px 3px 0 0;
        }
      }
      div.my-autocomplete-container {
        height: 100px;
        line-height: 12px;
        font-size: 11px;
        opacity: 1;
        padding: 2px 0;
        // text-indent: 10px;
        // border: 2px solid ghostwhite;
        height: 25px;
        z-index: 200;
        display: block;
        position: absolute;
        width: 100%;
        background: white;
        margin-top: -2px;
        > div {
          border-top: 1px solid #eff1f2;
        }
        > div:nth-last-of-type(2) {
          border-radius: 0 0 2px 2px;
          background: red;
        }
        div#PlacesAutocomplete__google-logo {
          display: none;
        }
      }
    }
  }
}

div.webcam {
  height: calc(100vh - 30px);
  font-size: 0;
  div.webcamWrap {
    height: calc(100% - 80px);
    background: grey;
    overflow: hidden;
    position: relative;
    > div {
      height: 100%;
      > video {
        height: 100%;
      }
      button {
        background: $green;
        width: 80%;
        line-height: 38px;
        border: 0px;
        font-size: 14px;
        color: white;
        margin-bottom: -10px;
        font-weight: 600;
      }
    }
    > section {
      height: 100%;
      section {
        padding: 0;
        height: 100%;

      }
    }
    div.viewfinder{
      // background: red;
      // margin: 30px;
      width: calc(100vw - 50px);
      height: calc(100vw - 50px);
      position: absolute;
      left: 25px;
      z-index: 3000;
      border: 7px solid tomato;
      top: 50vh;
      transform: translate(0,calc(-50% - 40px));
    }

    div.result{
      // background: red;
      // margin: 30px;
      left: 25px;
      width: calc(100vw - 50px);
      position: absolute;
      top: 5px;
      height: 50px;
      opacity: 0.8;
      background: white;
      color: black;
      font-size: 13px;
      line-height: 25px;
      text-align: left;
    }


    video {
      zoom: 100%;
      object-fit:cover;
      // opacity: 0.9;
    }
  }
  a {
    font-size: 14px;
    line-height: 40px;
    display: block;
    background: $navy;
    color: white;
    text-align: center;
    font-weight: 600;
  }
}

a.scanQRCode {
  display: block;
  text-align: center;
  background: $navy;
  height: 50px;
  line-height: 50px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

div.ticket {
  width: 100%;
  background: #f2f2f2;
  div.ticketTitle {
    background: white;
    text-align: center;
    padding-top: 20px;
    line-height: 45px;
  }
  div.ticketBody {
    // padding-bottom: 90px;
    // margin-bottom: 90px;
    // margin-bottom: 10px;
  }
}

div.miniTicket {
  padding: 10px;
  padding-bottom: 0px;
  &:last-of-type{
    padding-bottom: 0px;
  }
  position: relative;
  background: #f2f2f2;
  // background: $navy;
  line-height: 20px;
  div.miniTicketInnerWrap {
    -webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.03);
    -moz-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.0);
    box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.03);
    text-align: left;
    background: $lightGrey;
    background: $navy;
    position: relative;
    padding-bottom: 0px;
    > span {
      color: white;
      display: block;
      // text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      font-style: italic;
      font-size: 14px;
      padding:15px 0 4px 0px;
    }
  }
  div.miniTicketBody {
    text-align: left;
    padding: 0 10px;
  }
}

div.cardStyle {
  // padding: 15px;
  margin: 5px 0;
  // border: 1px $slate solid;
  // background: white;
  div {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 230px;
    padding: 20px 0;
    font-weight: 600;
  }
}

div.orderAndAppointments {
  color: white;
  line-height: 30px;
  font-size: 15px;
  padding-bottom: 10px;
}
div.react-add-to-calendar__dropdown {
  position: absolute;
  background: transparent;
  z-index: 1000;
  color: black;
  text-align: left;
  top: 0px;
  width: 220px;
  left: 45vw;
  height: 100px;
  transform: translate(-50%,0%);
  ul {
    z-index: 1000;
    padding: 0;
    margin: 0;
    background: white;
    -webkit-box-shadow: 10px 10px 104px 24px rgba(0,0,0,0.53);
    -moz-box-shadow: 10px 10px 104px 24px rgba(0,0,0,0.53);
    box-shadow: 10px 10px 104px 24px rgba(0,0,0,0.53);
    a {
      text-indent: 20px;
      text-align: left;
      z-index: 1000;
      padding: 0px;
      color: $navy;
      border-top: 1px solid $navy;
      border-bottom: 1px solid $navy;
      background: white;
      position: relative;
      line-height: 38px;
      &::after {
        content: '+';
        position: absolute;
        right: 15px;
        font-size: 20px;
        font-weight: 600;
        color:$green;
        top:-1px;
      }
    }
  }
}
div.ReactModalPortal {
  z-index: 9999;
  div.ReactModal__Overlay {
    z-index: 9999;
    div.ReactModal__Content {
      height: 60%;
      margin-top: 20%;
      border: 0px !important;
      border-radius: 0px !important;
      background: $navy !important;
      color: white;
      * {padding: 0; margin: 0;}
      h4 {
        font-size: 15px;
        text-align: center;
        padding: 30px 0;
      }
      div {
        margin-bottom: 5px;
        h2 {
          font-size: 13px;
          display: inline-block;
          padding-right: 10px;
        }
        a {
          color: $green;
        }
        h3 {
          font-size: 13px;
          font-weight: 400;
          display: inline-block;
        }
      }
    }
  }
}

div.appointmentCard {
  color:white;
  > span {
    display: block;
  }
  > div.firstRow {
    flex-direction: row;
    display: flex;
    justify-content:space-between;
    > div, > a {
      text-align: center;
      justify-content:center;
      flex-direction: column;
      display: flex;
      width: 30%;
      height: 100px;
      background: $lightNavy;
      padding: 15px 0 6px 0;
      h3 {
        line-height: 40px;
        display: block;
        margin: 0;
        padding: 0;
        align-self: center;
        font-size: 12px;
        font-weight: 400;
        height: 25px;
        line-height: 15px;
      }
      svg {
        align-self: center;
        fill:white;
        padding-bottom: 9px;
      }
      &.calendar {
        position: relative;
        // background: red;
        svg {
          position: absolute;
          top: 20px;
        }
        div.react-add-to-calendar {
          position: absolute;
          text-align: center;
          width: 100%;
          height: 100%;
          top: 0;
          div {
            height: 100%;
            a {
              height: 100%;
              display: block;
              position: relative;
              span {
                width: 100%;
                position: absolute;
                bottom: 17px;
                left: 0px;
                font-size: 12px;
                height: 15px;
                line-height: 15px;
                // padding: 10px 0;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  div.optician {
    display: flex;
    justify-content: start;
    // background: $lightNavy;
    // height: 40px;
    padding-left: 10px;
    margin: 10px 0;
    line-height: 40px;
    height: 40px;
    margin-bottom: 30px;
    h2,h3,span {
      // height: 10px;
      display: inline-block;
      min-width: 20px;
      font-size: 14px;
      align-items: center;
      height: 100%;
      padding: 0px 0;
      margin: 0;
      font-weight: 400;
    }
    span { padding: 0 10px;}
    h2 { font-weight: 600;}
  }
  &:last-of-type div.optician {
    margin-bottom: 10px;
  }
  div.children {
    padding-bottom: 1px;
    h2,h3 {
      font-size: 14px;
      display: inline-block;
      padding: 0;
      margin: 0;
    }
    h3 {font-weight: 400; padding-left: 10px;}
    > div {
      background: $lightNavy;
      padding: 10px;
      margin: 10px 0;
      &.someoneElse {
        > div {
          // background: red;
          padding-left: 10px;
         &:first-of-type {
            // background: green;
            padding-left: 0px;
            margin-bottom: 10px;
          }
        }
      }
    }
    div.extras,  {
      background: transparent !important;
    }
    div.button {
      background: transparent;
      margin: 15px 10px;
    }
  }
}

div.orderCard {
  display: flex;
  flex-direction: column;
  background: $lightNavy;
  margin: 10px 0;
  div.firstRow {
    display: flex;
    color: white;
    flex-direction: row;
    background: $lightNavy;
    padding: 10px;
    // &:last-of-type { margin-bottom: 0;}
    &:nth-of-type(2) { margin-top: 0px; }
    div.index {
      width: 30%;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
    }
    div.titles {
      width: 30%;
      h2 {
        margin: 0;
        padding: 0;
        font-size: 13px;
        line-height: 20px;
      }
    }
    div.items {
      width: 40%;
      h3 {
        line-height: 20px;
        margin: 0;
        padding: 0;
        font-size: 13px;
        font-weight: 300;
      }
    }
  }
  div.secondaryButtons {
    padding: 0 10px;
  }
}




//
// div.button {
//   cursor: pointer;
//   height: 42px;
//   line-height: 38px;
//   margin: 12px 0;
//   font-weight:600;
//   background: white;
//   font-size:17px;
//   border:2px solid #1aa48e;
//   text-align: center;
//   text-align:-webkit-center;
//   border-radius: 2px;
//   &:hover {
//     background: $green;
//     color:white;
//   }
// }

span.close {
  position: absolute;
  right: 11px;
  top: 7px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    position: absolute;
    top:-1px;
    left: 7px;
    content: ' ';
    height: 19px;
    width: 2px;
    background-color: #333;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
div.noAppointments {
  border: 1px solid $grey;
  height: 100px;
  margin: 0px 10px;
  font-size: 12px;
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin-left: 3px;
  }
}

div.selectStrip {
  display: flex;
  // margin: 0px 10px;
  // border: 1px solid $grey;
  flex-direction: row;
  overflow-x: scroll;
  // height: 100px;
  padding: 0;
  padding-top: 15px ;
  margin-bottom: 5px;
  background: $slate;
  background: $navy;
  > span.stripItem{
    display:inline-flex;
    align-self: center;
    margin: 0 5px;
    justify-content:center;
    width: 90px;
    height: 100%;
    position: relative;
    color: black;
    z-index: 15;
    span {
      background: white;
      position: relative;
      // align-self: center;
      text-align: center;
      padding: 5px;
      width: 75px;
      display: flex;
      justify-content:center;
      // align-self: center;
      // background: red;
      z-index: 5;
      // border-radius: 5px;
      // border: 1px solid $grey;
      // height: 0px;
      font-size: 13px;
      // text-transform: uppercase;
      flex-direction: column;
      div {
        align-self: center;
        width: 100%;
        // display: block;
        align-content: stretch;
        &.distance {
          // background: tomato;
          width: 100px;
          // position: relative;
          margin-top: 5px;
        }
        &.item {
          font-weight: 600;
          // background: red;
        }
      }
    }
    &.date {
      height: 120px;
      div {
        background: inherit;
        span {
            background: inherit;
          padding: 0 !important;
          margin: 0 !important;
          width: 100%;
          height: 30px;
          font-size: 15px;
          &.day {
            text-transform: uppercase;
            font-size: 19px;
            font-weight: 600;
          }
        }
      }
    }
    &.store {
      height: 110px;
      width: 110px;
      span {
        width: 100px;

      }
    }
    &.time {
      height: 60px;
      div {
        font-size: 14px;
        font-weight: 600;
      }
    }
    cursor: pointer;
    // &:last-of-type {
    //   margin-right: 10px;
    // }
    // &:first-of-type {
    //   padding-left: 5px;
    // }
    > div {
      position: absolute;
      top:0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      z-index: 10;
    }
    &:hover {
      span {
        // border: 1px solid $slate;
      }
    }
  }
  &.noScroll{
    display: flex;
    height: auto;
    padding: 5px 0;
    overflow:visible;
    flex-wrap: wrap;
    justify-content: center;
    > span.stripItem{
      padding: 0;
      margin: 5px 0 5px 0;
    }
  }
}

span.appointmentInput {
  padding: 15px 0px 0 0px;
  display: block;
  width:100%;
  text-align: left;
  label {
    height: 42px;
    line-height: 42px;
    display: block;
    font-weight: 600;
    margin-top: 5px;
    background: $lightNavy;
    color: white;
    text-indent: 20px;
    font-size:14px;
  }
  input,textarea {
    width: 100%;
    font-weight:600;
    font-size:12px;
    padding: 0px;
    text-align: left;
    text-align:-webkit-left;
    outline: none;
    border-radius: 0px;
    line-height: 34px;
    text-indent: 20px;
  }
  textarea {
    font-weight: 400;
    line-height: 16px;
    text-indent: 0px;
    padding: 10px;
    min-height: 88px;
    max-height: 150px;
    min-width: 100%;
    max-width: 100%;
  }
}


span.formInput {
  display:flex;
  justify-content:center;
  align-items:center;
  > form {
    padding: 10px 0;
    display: block;
    width:100%;
    text-align: left;
    span.nested {
      label {
        text-indent: 20px;
        height: 42px;
        line-height: 42px;
      }
      > input {
        text-indent: 20px;
        height: 34px;
        line-height: 34px;
      }
      div > div > div.Select-control{
        text-indent: 0px;
      }
      label, input, div > div > div.Select-control{
        width: 100%;
        font-weight:600;
        font-size:13px;
        padding: 0px;
        text-align: left;
        text-align:-webkit-left;
        outline: none;
        border: 0px solid $grey;
        border-radius: 0px;
        span.Select-multi-value-wrapper {
          display: block;
          width: 100%;
          div.Select-input {
            display: block;
            width: 100%;
            padding: 0px;
            height: 34px;
            border-radius: 0px;
            input {
              width: 100%;
              display: block;
              border: 0px;
              height: 34px;
              line-height: 34px;
              // text-indent: 20px;
              margin-left: 20px;
            }
          }
          div.Select-value {
            padding-left: 20px;
          }
        }
      }
      label {
        display: block;
        font-weight: 600;
        margin-top: 20px;
        background: $lightNavy;
        text-indent: 20px;
        color: white;
      }
      input[type="submit"] {
        margin-top: 20px;
        text-indent: 0px;
        border: 0px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight:600;
        text-align: center;
        text-align:-webkit-center;
        background: $greyBlue;
        background: $navy;
        height: 42px;
        line-height: 42px;
        border: 1px solid $green;
        color: white;
      }
    }
  }
}

div.welcomeMessage {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  margin-top: 20px;
  color: white;
  padding: 10px 10px;
  &.inverted {
    margin-top: 0px;
    padding: 15px 10px;
    background: $navy;
    font-weight: 400;
  }
}
div.Select.Select--single.is-focused.is-searchable.has-value {
  box-shadow:none;
  border-color:$grey;
  div.Select-control {
    box-shadow:none;
    border-color:$grey;
  }
}

div.Select-menu-outer {
  border:1px solid $grey;
  overflow: visible;
  padding: 0px;
  font-size: 12px;
  border-radius: 0px;
}

a.react-datepicker__navigation.react-datepicker__navigation--previous,a.react-datepicker__navigation.react-datepicker__navigation--next {
  background: none;
  &:hover{
    background: none;
  }
}

div.react-datepicker-wrapper {
  div {
    input {
      margin-top: 4px;
      width:250px;
      height: 38px;
      outline: none;
      font-size:13px;
      background: #f7f9fc;
      padding-left: 10px;
    }
  }
}

div.goodAfternoon, div.pagenotfound {
  display: block;
  text-align: center;
  padding-top: 30px;
  line-height: 40px;
  font-size: 14px;
  color: white;
}

nav {
  position: absolute;
  width: 100%;
  height: 70px;
  background:white;
  border-top: 2px solid $slate;
  bottom: 0px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 100;
  &.hide {
    display: none !important;
  }
  div{
    position: relative;
    display: inline-flex;
    overflow: visible;
    a {
      text-transform: capitalize;
      padding: 0 12px;
      display: block;
      line-height: 66px;
      font-weight: 600;
      color: black;
      font-size: 14.5px;
      // padding-top:5px;
      overflow: visible;
      color: $navy;
    }
    &.active a{
      color: $green;
    }
  }
}
span.notificationBubble {
  position: absolute;
  top:5px;
  right: 3px;
  width: 17px;
  height: 17px;
  display: inline-block;
  background: $green;
  color: white;
  text-align: center;
  // border-radius: 20px;
  font-size: 12px;
  // padding-top: 1px;
  opacity: 0.9;
  overflow: visible;
  z-index: -1;
  &.home {
    position: absolute;
    background: none;
    color:white;
    right: 35px;
    top:7px;
    font-weight: 600;
    width: 18px;
    height: 18px;
    // width: 0px;
    // height: 0px;
    font-size: 13px;
  }
  &.dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    font-size: 0px;
    top:30px;
    right: 65px;
    z-index: 100;
  }
  &.homedot {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: $green;
    top:16px;
    right: 85px;
  }
  div {
    position: absolute;
    right: 2px;
    font-size: 16px;
    top:-7px;
  }
}
